peage
ui/node_modules

ui/.pnp
ui/.pnp.js

# testing
ui/coverage

# production
ui/build

# misc
ui/.DS_Store
ui/.env.local
ui/.env.development.local
ui/.env.test.local
ui/.env.production.local

ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*




streaming/target
streaming/project

.vscode
.idea
.bsp
spark-kafka-owner/target
spark-kafka-owner/project
spark-kafka-owner/.bsp
spark-kafka-owner/.idea
project
target
spark-kafka-owner
